.image-with-textblock{
    position: relative;
    overflow: hidden;
}

    .image-with-textblock .grid__item{
        display: grid;
    }

    .image-with-textblock .grid__item+*{
            grid-area: 1/1;
        }

    .image-with-textblock .section__image{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0rem 1.4rem 0rem 1.4rem;
    }

    .image-with-textblock .section__image img{
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }

    @media screen and (max-width: 989px) {
            .image-with-textblock .section__image{
                margin-bottom: 2rem;
            }
        }

    .image-with-textblock .section__richtext{
        padding: 0rem 1.4rem 0rem 1.4rem;
    }

    .image-with-textblock .section__richtext .richtext--block:not(:first-of-type){
                margin-top: 2rem;
            }

    .image-with-textblock .section__richtext .richtext--block h3.h2{
                margin-top: 0rem;
                margin-bottom: 0rem; 
            }

    .image-with-textblock .section__richtext .richtext--block p{
                margin: 0rem;
            }

    .image-with-textblock .section__richtext .richtext--block .richtext-description p{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

    .image-with-textblock .image-first{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    @media screen and (min-width: 990px) {
        .image-with-textblock .image-first{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }
    }