.multiple-image-with-richtext{
    position: relative;
    overflow: hidden;
}

    .multiple-image-with-richtext .grid__item{
        display: grid;
    }

    .multiple-image-with-richtext .grid__item>div{
            grid-area: 1/1;
        }

    .multiple-image-with-richtext .section__information{
        display: grid;
        padding: 0rem 1rem;
    }

    .multiple-image-with-richtext .section__information .information--wrapper strong{
                font-weight: bold !important;

                font-size: calc(var(--font-heading-scale) * 2rem) !important;
            }

    .multiple-image-with-richtext .section__information .information--wrapper strong{
                text-transform: uppercase;
            }

    @media only screen and (min-width: 750px) {
                    .multiple-image-with-richtext .section__information .information--wrapper strong {
                        font-size: calc(var(--font-heading-scale) * 2.4rem) !important;
                    }
                }

    .multiple-image-with-richtext .section__information .information--wrapper p{
                margin: 0;
                line-height: calc(1 + 0.6 / var(--font-body-scale));
            }

    .multiple-image-with-richtext .section__information .information--wrapper p:not(:first-child){
                    margin-top: 1rem;
                }

    .multiple-image-with-richtext .section__information .information--wrapper p:last-child{
                    margin-bottom: 1rem;
                }

    .multiple-image-with-richtext .section__information .tabcontent:not(:first-of-type){
            display: none;
        }

    .multiple-image-with-richtext .section__information .tabcontent{
            grid-area: 1/1;
        }

    .multiple-image-with-richtext .section__information h2{
            margin-top: 0rem;
            margin-bottom: 1.14rem;
        }

    @media screen and (min-width: 750px) {
            .multiple-image-with-richtext .section__information{
                padding: 1rem;
            }
        }

    @media screen and (max-width: 749px){
            .multiple-image-with-richtext .section__information{
                padding-top: 2rem;
            }
        }

    .multiple-image-with-richtext .section__image{
        position: relative;
        display: grid;
        padding: 0rem 2rem;
        z-index: 1;
    }

    .multiple-image-with-richtext .section__image .tabcontent:not(:first-of-type){
            display: none;
        }

    .multiple-image-with-richtext .section__image .tabcontent{
            grid-area: 1/1;
        }

    .multiple-image-with-richtext .section__image>img{
            grid-area: 1/1;
            z-index: 0;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }

    .multiple-image-with-richtext .section__image div.image--wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            overflow: hidden;
        }

    .multiple-image-with-richtext .section__image img{
            z-index: 1;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }

    @media screen and (min-width: 750px) {
            .multiple-image-with-richtext .section__image{
                padding: 2rem;
            }
        }

    .multiple-image-with-richtext .section__image .section__tab-controls{
            position: absolute;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            top: 50%;
            bottom: 50%;
            padding: 0rem 1rem;
            z-index: 3;
        }

    .multiple-image-with-richtext .section__image .tab-control{
            width: 4rem;
            height: 4rem;
            color: #ffffff;
            background-color: rgba(var(--color-base-accent-1),0.38);
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 0.4rem;
            overflow: hidden;
        }

    .multiple-image-with-richtext .section__image .tab-control--prev{
                visibility: hidden;
            }

    .multiple-image-with-richtext .section__image .tab-control svg{
                pointer-events: none;
            }

    .multiple-image-with-richtext .section__image .tab-control span{
                margin: -1.4rem 0rem 0rem 0rem !important;
            }

    .multiple-image-with-richtext .section__image .tab-control span{
                pointer-events: none;
                font-size: 6rem;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                line-height: 1;
                height: 4rem;
                width: 4rem;
                color: #ffffff;
            }

    .multiple-image-with-richtext .image-first{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    @media screen and (min-width: 990px) {
        .multiple-image-with-richtext .image-first{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
        }
    }

    @media screen and (max-width: 749px){
        .multiple-image-with-richtext .grid{
            -webkit-box-orient: vertical !important;
            -webkit-box-direction: reverse !important;
                -ms-flex-direction: column-reverse !important;
                    flex-direction: column-reverse !important;
        }
    }