.logo-with-text{
    position: relative;
    overflow: hidden;
}

    .logo-with-text *{
        color: rgb(var(--color-base-accent-2));
    }

    .logo-with-text .section__header{
        margin-bottom: 3rem;
    }

    @media screen and (min-width: 750px) {
            .logo-with-text .section__header{
                margin-bottom: 6rem;
            }
        }

    .logo-with-text .section__header p{
            margin: 0;
        }

    .logo-with-text .grid{

        padding: 0rem 1.4rem 1.4rem 1.4rem;
    }

    .logo-with-text .grid .grid__item{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            
        }

    @media screen and (min-width: 750px) and (max-width: 989px) {
                .logo-with-text .grid .grid__item{
                    padding: 1rem;
                }
            }

    @media screen and (max-width: 749px) {
                .logo-with-text .grid .grid__item{
                    padding: 2rem 1rem;
                }
            }

    .logo-with-text .grid .logo-and-text--wrapper{
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }

    .logo-with-text .section__logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        width: 100%;

        margin-bottom: 2rem;
    }

    .logo-with-text .section__logo .logo{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            max-height: 200px;
            max-width: 200px;
            position: relative;
            padding: 1rem;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.5) ;
                    box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.5) ;
            overflow: hidden;
        }

    .logo-with-text .section__logo img{
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
            width: 95%;
        }

    .logo-with-text .section__text{

        line-height: calc(1 + 0.5 / var(--font-body-scale));
        text-align: center;
    }

    .logo-with-text .section__text p{
            margin: 0;
        }

    .logo-with-text .section__text h3{
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

    .logo-with-text .section__text--description{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .logo-with-text .section__text--description *{
            color: rgba(var(--color-base-accent-2),0.75);
        }