.hero{
    padding: 0rem !important;
}

    .hero{
    position: relative;
    overflow: hidden;
    
    /* If BG with image */
}

    .hero .section__button{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .hero .section__bg{
        background-color: rgb(var(--color-section-bg));
    }

    /*
    @media --tablet {
        .section__bg{
            height: max-content;
        }
    }
    */

    .hero .section__container{
        display: grid;
    }

    .hero .section__container .page-width{
            width: 100%;
            grid-area: 1/1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

    @media screen and (min-width: 750px) {
                .hero .section__container .page-width {
                    padding: 0 2rem;
                }
            }

    .hero .section__container .grid{
            width: 100%;
        }

    .hero .section__container .grid__item--image{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }

    @media screen and (max-width: 749px) {
                .hero .section__container .grid__item--image{
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                }
            }

    .hero .section__container .grid__item--copy{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

    .hero .hero__copy{
        width: 100%;
    }

    @media screen and (min-width: 750px) {
            .hero .hero__copy{
                padding-right: 3rem;
            }
        }

    .hero .hero__copy .title{
            --font-heading-scale: 1.4;
            color: rgb(var(--color-base-accent-2));
            margin: 0rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }

    .hero .hero__copy .title p{
                margin: 0rem;
            }

    @media screen and (min-width: 750px) and (max-width: 989px) {
                .hero .hero__copy .title{
                    --font-heading-scale: 1;
                }
            }

    .hero .hero__copy .subtitle{
            color: rgb(var(--color-base-accent-2));
            margin-bottom: 1rem;
            line-height: calc(1 + .5/var(--font-body-scale));
        }

    .hero .hero__copy .subtitle p{
                margin: 0rem;
            }

    .hero .hero__copy .subtitle p:not(:last-child){
                margin-bottom: 1rem;
            }

    .hero .hero__copy .btn{
            margin-top: 1rem;
        }

    @media screen and (min-width: 990px) {

    .hero .hero__copy .btn{
                margin-top: 8rem
        }
            }

    .hero .hero__copy .hero__header{
            display: grid;
            
        }

    .hero .hero__copy .hero__header .tabcontent{
                grid-area: 1/1;
            }

    .hero .hero__copy .hero__header .tabcontent:not(:first-of-type){
                display: none;
            }

    .hero .hero__button{
        display: grid;
    }

    .hero .hero__button .tabcontent{
            grid-area: 1/1;
        }

    .hero .hero__button .tabcontent:not(:first-of-type){
            display: none;
        }

    @media screen and (max-width: 749px) {
            .hero .hero__button{
                width: 100%;
            }

                .hero .hero__button .btn--default{
                    max-width: 300px;
                }
        }

    .hero .hero__image{
        display: grid;

    }

    .hero .hero__image .tabcontent{
            grid-area: 1/1;
        }

    .hero .hero__image .tabcontent:not(:first-of-type){
            display: none;
        }

    .hero .hero__image .image--wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

    .hero .hero__image .image--wrapper img{
                -o-object-fit: cover;
                   object-fit: cover;
            }

    .hero .hero__controls{
        padding: 1rem;

        
        width: 100%;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: -3rem;
    }

    @media screen and (max-width: 749px) {
            .hero .hero__controls{
                margin-top: -2rem;
                margin-bottom: 2rem;
            }
        }

    /*
        @media --mobile {
            &{
                width: 100%;
                max-width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin-bottom: 2rem;
            }
        }
        */

    .hero .hero__controls .tab-control{
            display: block !important;
        }

    .hero .hero__controls .tab-control{
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: rgb(var(--color-base-accent-2));
        }

    .hero .hero__controls .tab-control:not(:last-of-type) {
                margin-right: 1.4rem;
            }

    /*
            @media --tablet-up {
                &:not(:last-of-type) {
                    margin-bottom: 1.4rem;
                }
            }
            */

    .hero .hero__controls .tab-control.active{
                border: 3px solid rgb(var(--color-base-accent-2), 0.38);
                -webkit-transform: scale(1.14);
                    -ms-transform: scale(1.14);
                        transform: scale(1.14);
            }