.section--featured-blog .section__article{
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 1rem;
    }

    .section--featured-blog .section__article--image{
        margin-bottom: 1rem;
        overflow: hidden;
        max-height: 200px;
        position: relative;

        height: 0;
        padding-bottom: 100%;
        
    }

    .section--featured-blog .section__article--image img{
            height: auto;
            width: 100%;
        }

    .section--featured-blog .section__article--info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .section--featured-blog .section__article--info h3{
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            font-weight: 600;
        }