.section--accordion-with-image .accordion {
        margin-top: 0;
        border-top: none;
        border-bottom: none;
    }

    .section--accordion-with-image .section__accordion--max-width{
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .section--accordion-with-image .section__image--max-width{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 990px){
        .section--accordion-with-image .grid .grid__item .section__accordion, .section--accordion-with-image .grid .grid__item .section__image{
            padding: 2rem;
        }
    }

    .section--accordion-with-image .grid__item--accordion{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }