.featured-video{
    position: relative;
    overflow: hidden;
}

    .featured-video slider-component{
        position: relative;
        overflow: hidden;
        display: grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .featured-video slider-component ul{
            padding-left: 1rem;
            padding-right: 1rem;
            margin-left: -0.9rem;
            margin-right: -0.9rem;
        }

    .featured-video slider-component .slider-buttons{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            pointer-events: none;
            z-index: 3;
        }

    .featured-video slider-component .slider-buttons .slider-button{
                pointer-events: all;
                padding: 0.14rem;
                margin: 0.1rem;
                
                color: #ffffff;
                background-color: rgba(var(--color-base-accent-1),0.38);
            }

    .featured-video slider-component .slider-buttons .slider-button[disabled='disabled']{
                    color: rgba(var(--color-base-accent-1),0.1);
                }

    .featured-video slider-component .slider-buttons .slider-button svg{
                    height: 0.9rem;
                    width: auto;
                }

    .featured-video slider-component~*{
            grid-area: 1/1;
        }

    @media screen and (max-width: 749px) {
            .featured-video ul.grid{
                margin-bottom: 2rem;
            }
        }

    .featured-video .grid__item{
        display: grid;
    }

    .featured-video .grid__item .g-video{
            grid-area: 1/1;
        }

    @media screen and (max-width: 749px) {
            .featured-video .grid__item:not(.slider__slide):not(:last-of-type){
                margin-bottom: 2rem;
            }
        }