.section__content-wave{
    display: grid;
    position: relative;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 2880px;
 
}

    .section__content-wave .section__content-wave--desktop, .section__content-wave .section__content-wave--mobile{
        grid-area: 1/1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .section__content-wave img{
        width: auto;
        height: 100%;
    }