.email-signup-v2{
    position: relative;
}
    
    .email-signup-v2 .newsletter-form__field-wrapper{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    
    }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field__button{
            margin-left: auto;
            margin-right: auto;
        }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field{
            text-align: center;
            position: relative;
            
        }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field::before, .email-signup-v2 .newsletter-form__field-wrapper .field::after{
                display: none!important;
            }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field:not(:last-of-type){
                margin-bottom: 2rem;
            }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field__input {
            height: 100%;
            margin: 0;
            padding-right: 1rem;
            outline: none;
        }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field__input:focus{
                -webkit-box-shadow: none;
                        box-shadow: none;
            }
    
    .email-signup-v2 .newsletter-form__field-wrapper .field__input{
            border: 1px solid rgb(var(--color-foreground))!important;
}
    
    .email-signup-v2 .newsletter-form__field-wrapper .newsletter-form__message--error{
            width: 100%;
            margin-bottom: 2rem;
        }
    
    .email-signup-v2 .newsletter-form{
        max-width: 100%;
    }
    
    .email-signup-v2 .section__header--subtitle{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }