.app-block{
    position: relative;
}
    
    .app-block .jdgm-rev__buyer-badge{
        background-color: rgb(var(--color-base-accent-1)) !important;
        color: rgb(var(--color-base-solid-button-labels)) !important;
    }
    
    .app-block .jdgm-rev__icon::after{
        background-color: rgb(var(--color-base-accent-1)) !important;
        color: rgb(var(--color-base-solid-button-labels)) !important;
    }
    
    .app-block .jdgm-star{
        color: rgb(var(--color-base-accent-1)) !important;
    }
    
    .app-block .jdgm-histogram .jdgm-histogram__bar-content{
        background-color: rgb(var(--color-base-accent-1)) !important;
        background: rgb(var(--color-base-accent-1)) !important;
    }
    
    .app-block .jdgm-ask-question-btn, .app-block .jdgm-write-rev-link{
        border-color: rgb(var(--color-base-accent-1)) !important;
        color: rgb(var(--color-base-accent-1)) !important;
    }
    
    .app-block .jdgm-carousel-item__product-title, .app-block .jdgm-rev__prod-link{
        color: rgb(var(--color-base-accent-1)) !important;
    }
    
    .app-block .jdgm-carousel-wrapper{
        padding: 1rem 2rem !important;
        width: 100% !important;

    }
    
    .app-block .jdgm-carousel-wrapper{
        position: relative;

    }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__arrows{
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: calc(100% + 1rem);
            margin-left: -0.5rem;
        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow, .app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow {
            border: none !important;
            border-style: none !important;
            -webkit-transform: none !important;
                -ms-transform: none !important;
                    transform: none !important;
            margin: 0!important;

            display: -webkit-box !important;

            display: -ms-flexbox !important;

            display: flex !important;
            -webkit-box-pack: center !important;
                -ms-flex-pack: center !important;
                    justify-content: center !important;
            -webkit-box-align: center !important;
                -ms-flex-align: center !important;
                    align-items: center !important;

        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow, .app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow {

            position: relative;
            height: 38px;
            width: 38px;

            -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);

                    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
            background-color: rgb(var(--color-slider-control-bg));
            border-radius: 50%;

        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after, .app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
            color: #ffffff !important;
        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after, .app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            font-size: 50px;
            line-height: 28px;
            font-weight: 400;
        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after {
            content: '\203A';
        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
            content: '\2039';
        }
    
    .app-block .jdgm-carousel-wrapper .jdgm-carousel--aligned-theme .jdgm-carousel-item__product-image{
            vertical-align: top;
            width: 25%;
        }
    
    .app-block .jdgm-branding-footer{
        display: none !important;
    }