/*==================== FONTS ====================*/

/* Extra Fonts */
@font-face {
    font-family: 'BrittanySignature';
    src: url(BrittanySignature.woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}