@import 'abstract/mixin';

footer.footer{

    .link-list--toggle{
        display: none;

        &:checked ~ .link-list--content{
            height: auto;
            display: block;
        }

        &:checked ~ .link-list--label::after{
            transform: rotate(90deg);
        }
    }

    .link-list--label{
        position: relative;
        display: flex;
        justify-content: space-between;
        pointer-events: none;

        @include device('mobile'){
            pointer-events: all;
        }

        &::after{
            content: '\276f';
            height: 100%;
            transition: transform 0.2s ease-in-out;
            display: none;

            @include device('mobile'){
                &{
                    display: block;
                }
            }
        }
    }

    @include device('mobile'){
        .link-list--content{
            height: 0px;
            display: none;
        }
    }

    .footer-block__heading{
        margin: 0;
        font-weight: 600;
        width: 100%;
        margin-bottom: 1rem;
        text-align: left;
        text-transform: uppercase;

        @include device('tablet-up'){
            &{
                text-align: center;
            }
        }
    }

    .footer-block-image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        img{
            object-fit: cover;
            object-position: center center;
            margin-bottom: 2rem;
        }

        svg{
            max-width: 70%;
        }
    }

    .list-menu__item--link{
        padding: 0;
        text-align: left;
        width: 100%;

        @include device('tablet-up'){
            &{
                text-align: center;
            }
        }
    }
    .list-menu__item--link:not(:last-of-type){
        padding-bottom: 1rem;
    }

    // Email Signup
    .footer-block--email-signup{
        max-width: 40rem;
        @include device('tablet-up'){
            &{
                margin-left: auto;
                margin-right: auto;
            }
        }

        .footer-block__details-content{
            margin-bottom: 1.5rem;

            @include device('desktop'){
                &{
                    text-align: justify;
                }
            }

            @include device('tablet'){
                &{
                    text-align: center;
                }
            }
        }


        .newsletter-form__field-wrapper{
            @include device('mobile'){
                &{
                    max-width: 100%;
                }
            }

            .field--btn{
                margin-top: 1rem;

                &::after{
                    display: none!important;
                }
            }


            .btn{
                max-width: 100%;
            }
        }

        .newsletter-form{
            align-items: flex-start;
        }
        
    }

}