@import 'abstract/mixin';

.image-with-accordion{
    position: relative;
    overflow: hidden;
    display: grid;

    &+*{
        grid-area: 1/1;
    }

    
    .section__bg{
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        background-attachment: fixed;
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
        

        img{
            width: auto;
            height: 100%;
            max-height: 480px;
            object-fit: cover;
            object-position: center center;
        }

        @include device('desktop'){
            padding: 2rem;
        }
    }

    .section__bg.section__bg-reverse{
        justify-content: flex-start!important;
        
    }


    .grid__item{
        display: grid;

        &+*{
            grid-area: 1/1;
        }
    }

    .section__image{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: auto;
            height: 100%;
            max-height: 480px;
            object-fit: cover;
            object-position: center center;
        }
    }

   
    @include device('tablet-up'){
        .image-first{
            flex-direction: row-reverse;
        }
    }

    @include device('mobile'){
        // Ensures that image is always on the top at mobile devices
        .grid{
            flex-direction: column-reverse !important;
        }

        .image-first{
            flex-direction: column-reverse !important;
        }
    }

    .accordion {
        margin-bottom: 0rem;
        border-top: none;
        border-bottom: none;
    }

    &__accordion{

        @include device('mobile'){
            &{
                margin-bottom: 2rem;
            }
        }

        details{
            &.details-first > summary {
                border-top: 0.1rem solid rgba(var(--color-base-accent-2),1);
            }

            & > summary {
                border-bottom: 0.1rem solid rgba(var(--color-base-accent-2),1);
            }

            &[open]{
                > summary {
                    border-top: none!important;
                    border-bottom: 0.1rem solid rgba(var(--color-base-accent-2),0.6) !important;
                }
            }
        }
    }

    .accordion__icon {
        .icon path{
            stroke: rgb(var(--color-base-accent-2)) !important;
        }
    }

    .accordion__box-shadow{
        box-shadow: 0px 0px 4px -1px rgba(var(--color-base-accent-2),0.75) !important;
    }

    // Specific Style
    .image-with-accordion__header{
        & *{
            color: rgb(var(--color-base-accent-2));
        }

        @include device('mobile'){
            & *{
                text-align: center;
            }
        }
    }

    .section__copy{
        @include device('desktop'){
            &{
                padding-right: 6rem;
            }
        }
    }

    .image-first .section__copy{
        @include device('desktop'){
            &{
                padding-left: 6rem;
            }
        }
    }

    .section__copy{
        @include device('tablet'){
            &{
                padding-right: 2rem;
            }
        }
    }

    .image-first .section__copy{
        @include device('tablet'){
            &{
                padding-left: 2rem;
            }
        }
    }


   .summary__title{
        background-color: transparent;
   }
   .accordion__title{
        color: rgb(var(--color-base-accent-2));
   }
   .accordion__content{
        color: rgb(var(--color-base-accent-2));
   }

}