@import 'abstract/mixin';

.review{
    *{
        overflow-anchor: none !important;
    }
    
    .section__review{
        // position: relative;
        // overflow-x: hidden;
        // scrollbar-color: rgb(var(--color-base-accent-2)) rgba(var(--color-base-accent-2), 0.5);
        // scrollbar-width: thin;
        // padding: 1rem;

        @include device('mobile'){
            &{
                 margin-bottom: 2rem;
            }
        }
    }

    
    .jdgm-all-reviews__footer{
        display: none!important;
    }

    // article{
    //     width: 100%;
    //     border: none!important;
    // }

    // For Color
    .jdgm-histogram__bar-content{
        background-color: rgba(var(--color-base-accent-2), 0.75) !important;
    }
}
.review:not(.review-product){
    .jdgm-widget-actions-wrapper{
        display: none!important;
    }
}