@import '../util/device.css';

#shopify-section-header {
    z-index: 5;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    box-shadow: 0rem 2px 8px -2px rgba(0,0,0,0.38);

    @media --tablet{
        &{
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    @media --mobile{
        &{
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
        }
    }
}

.shopify-section-header-sticky {
    position: sticky;
    top: 0;
}

.shopify-section-header-hidden {
    transform: translateY(-100%);
}

#shopify-section-header.animate {
    transition: transform 0.15s ease-out;
}

.header--logo-middle-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

$header_icon_size: 3rem;
$header_active_menu_color: var(--color-base-accent-1);
.header{

    /* For Header */
    &__heading{
        margin: 0rem;
        &-link{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img{
                width: 100%;
                max-width: 200px;
                height: auto;
            }
        }
    }

    /*For Menu*/
    &__inline-menu{

        line-height: calc(1 + 0.4 / var(--font-body-scale));

        summary.header__menu-item--parent .icon-caret {
            right: -1.3rem;
            overflow: hidden;
        }

        summary .icon-plus, summary .icon-minus {
            height: auto;
            width: 1rem;
            position: absolute;
            right: 0rem;
            top: calc(50% - .2rem);
            overflow: hidden;
            margin-right: -0.8rem;
        }

        details summary.header__menu-item--child .icon-minus{
            display: none;
        }

        details[open] > summary.header__menu-item--child .icon-minus{
            display: block !important;
        }

        details[open] > summary.header__menu-item--child .icon-plus{
            display: none !important;
        }


        .list-menu--inline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            margin: 0rem;
            padding: 0rem;

            .header__menu-item{
                color: rgb(var(--color-foreground));
                position: relative;

                .icon-caret{
                    transform: rotate(-90deg);
                    transition: transform var(--duration-default) ease-out;
                }

                &:hover{
                    color: rgb($header_active_menu_color);

                    &+svg{
                        color: rgb($header_active_menu_color);
                    }
                }
            }

            .header__menu-item--parent{
                margin-right: 2rem;
            }

            summary.header__menu-item--parent{
                margin-right: 3.3rem;
            }

            .header__menu-item--last,summary.header__menu-item--last{
                margin-right: 0rem; 
            }

            .header__active-menu-item {
                color: rgb($header_active_menu_color);

                & ~ svg{
                    color: rgb($header_active_menu_color);
                }
            }

            .list-menu__item--active {
                text-decoration: none;
                color: rgb($header_active_menu_color);

                &+svg{
                    color: rgb($header_active_menu_color);
                }
            }
            
            .list-menu__item--active:hover {
                text-decoration: none;
            }

            /* SubMenu */
            .header__submenu{
                padding: 0rem;
            }

            .header__submenu--child{
                transform: translateY(-2rem);
                transition: transform var(--duration-default) ease;
            }

            details[open] > .header__submenu--child {
                transform: translateY(1rem);
            }

            /* Specific Styling */
            .header__submenu--child{
                border-radius: 1.4rem;
                padding-top: 1.4rem;
                padding-bottom: 1.4rem;
                border: none;
                background-color: #e4e4e4;

                & > li{
                    padding-left: 1.4rem;
                    padding-right: 2.2rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }

                & > li:not(:last-child){
                    border-bottom: 0.1rem dashed rgba(var(--color-base-accent-1),0.38);
                }
            }

            .list-menu--disclosure{
                width: 25rem;
            }

            .header__submenu--grandchild{
                font-size: 1.4rem;
                margin-left: -1.4rem;
                margin-right: -2.2rem;
                margin-bottom: -1rem;
                margin-top: 1rem;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                background-color: #f0f0f0;

                & > li{
                    padding-left: 2rem;
                    padding-right: 2.2rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }

            .header__menu-item--parent{
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        details[open] > .header__menu-item .icon-caret {
            transform: rotate(0deg);
        }
    }

    /*For Icons*/
    &__icons{
        display: flex;
        justify-content: center;
        align-items: center;

        modal-opener{
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .header__icon{
            height: $header_icon_size;
            width: $header_icon_size;
            position: relative;
            padding: 0.3rem;

            summary{
                width: 100%;
                height: auto;
            }
        }

        .header__icon:not(:only-child):not(:last-child){
            margin-right: 0.5rem;
        }
    }   
}

/* For Search Modal Dialog */
.header-popup-modal {
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    display: none;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(var(--color-foreground), 0.8);
    height: 100%;
    padding: 2rem;
}

.header-popup-modal--predictivesearch{
    overflow: auto;
}

.header-popup-modal[open] {
    opacity: 1;
    display: block;
    z-index: 101;
}

.header-popup-modal__toggle {
    background-color: rgb(var(--color-background));
    border: 0.1rem solid rgba(255,255,255, 0.8);
    border-radius: 50%;
    color: rgba(var(--color-foreground), 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    padding: 0.5rem;
    z-index: 2;
    top: 0rem;
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 auto;
}

.header-popup-modal__toggle:hover {
    color: rgba(var(--color-foreground), 0.95);
}

.header-popup-modal__toggle .icon {
    height: auto;
    margin: 0;
    width: 100%;
}

.header-popup-modal__content{
    width: 100%;
    max-width: 77rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media --mobile{
        &{
            margin-top: 2rem;
        }
    }

    .predictive-search{
        top: calc(100% + 0.2rem);
        border-width: 0.2rem;
        border-color: rgb(var(--color-foreground));
    }
}

