@import '../util/device.css';

.review{
    *{
        overflow-anchor: none !important;
    }
    
    .section__review{

        @media --mobile {
            &{
                 margin-bottom: 2rem;
            }
        }
    }

    
    .jdgm-all-reviews__footer{
        display: none!important;
    }
    
    /* For Color */
    .jdgm-histogram__bar-content{
        background-color: rgba(var(--color-base-accent-2), 0.75) !important;
    }
}
.review:not(.review-product){
    .jdgm-widget-actions-wrapper{
        display: none!important;
    }
}